<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<h1>Bienvenue sur www.thehappyevent.com, <%= @user.nom %></h1>

<p>
  Pour vous connecter, cliquez sur :
  <%= @url %>.
</p>

<p>Merci d'avoir rejoint l'aventure !</p>

</body>
</html>