

<div class="col-xs-12 ">
  <div id="map"></div>
</div>

<script type="text/javascript">
  var map;
  function initMap()
  {
    var mapOptions = {
      center: {lat: <%=@latV%>, lng: <%=@logV%>},
      zoom: 9

    };

    map = new google.maps.Map(document.getElementById('map'), mapOptions);



    function addMarker(lat, lng) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lng),
        map: map,
        title: 'foo'
      });
    }

  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBec10Y1_D_kZvAzf6QI60NHQsAJvSUNR0&callback=initMap">
</script>