// Place all the styles related to the Evenements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron h1, h2
{
  color : white;
  margin-bottom: 15%;
}

.jumbotron
{
  background-color : #6B0C28;
}